#contact {
    width: 100%;
    background-color: #1e1e1e;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;

}

.contact-form,
.contact-map {
    padding: 40px;
    width: 48%;
    background-color: #1e1e1e;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    color: white;
}

.form-group {
    margin-bottom: 37px;
}

.form-groupH {
    display: flex;
    margin-bottom: 37px;
    gap: 20px;
    /* Espacio entre los dos elementos */
}

.form-groupH .form-group {
    flex: 1;
    /* Toma todo el espacio disponible */
}

.form-groupH input[type="text"],
.form-groupH select {
    width: 100%;
    /* Ambos elementos ocupan todo el ancho disponible */
}

.form-group-policy {
    display: flex;
    margin-bottom: 37px;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    color: #000;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #ffea62;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border-color: orange;
    box-shadow: 0 0 0px orange;
    outline: none;
}

button[type="submit"]:hover {
    background-color: orange;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map-container iframe {
    border-radius: 10px;
    height: 250px;
    width: 100%;
}

.location {
    font-size: 16px;
}

.contact-title-container {
    margin-bottom: 40px;
    font-size: 2rem;
    padding-bottom: 10px;
}

.contact-title-line {
    width: 150px;
    height: 2px;
    background-color: orange;
    margin: 0 auto;
}

.contact-form.appear {
    opacity: 1;
    transform: translateY(0);
}

.contact-map.appear {
    opacity: 1;
    transform: translateY(0);
}

.form-group-policy label {
    font-size: 16px;
    /* Tamaño más grande */
    color: #ffffff;
    /* Letras en blanco */
    font-weight: 500;
    /* Negrita ligera */
}

.form-group-policy {
    display: flex;
    align-items: center;
    /* Centra verticalmente el checkbox y el texto */
    margin-top: 10px;
}

.form-group-policy input[type="checkbox"] {
    margin-right: 10px;
    /* Espacio entre el checkbox y el texto */
    transform: scale(1.2);
    /* Aumenta el tamaño del checkbox */
}

.form-group-policy a {
    color: #6cb2eb;
    /* Color del enlace más visible */
    font-weight: 600;
    /* Resalta el enlace */
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contact-form,
    .contact-map {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-title-container {
        font-size: 1.8rem;
    }

    .contact-title-line {
        width: 120px;
    }

    .map-container iframe {
        height: 200px;
    }

    .location {
        font-size: 14px;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {

    .contact-title-container {
        font-size: 1.5rem;
    }

    .contact-title-line {
        width: 100px;
    }

    .map-container iframe {
        height: 150px;
    }

    .location {
        font-size: 12px;
    }
}