/* Footer */
footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-copyright {
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos generales del popup */
.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    padding: 20px 10%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* Texto del popup */
.cookie-popup-text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5;
}

.cookie-popup-text p {
    margin: 0;
}

/* Botones */
.cookie-popup-buttons {
    display: flex;
    gap: 10px;
}

.cookie-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accept-button {
    background-color: #FFA500;
    color: #ffffff;
    border: none;
}

.accept-button:hover {
    background-color: #e57048;
}

.info-button {
    background-color: transparent;
    color: #FFA500;
    border: 1px solid #FFA500;
}

.info-button:hover {
    background-color: #FFA500;
    color: #ffffff;
}

/* Enlaces */
.cookie-link {
    color: #FFA500;
    font-weight: bold;
    text-decoration: underline;
}



/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .cookie-popup {
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        height: auto;
        /* Permite que el alto crezca según el contenido */
    }

    .cookie-popup-text {
        font-size: 0.9rem;
        /* Reduce el tamaño del texto */
        line-height: 1.3;
        text-align: center;
        /* Centra el texto en móviles */
    }

    .cookie-popup-buttons {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        /* Ocupa todo el ancho disponible */
    }

    .cookie-button {
        font-size: 0.85rem;
        /* Botones más pequeños */
        padding: 8px 10px;
        /* Ajusta el espaciado interno */
        width: 100%;
        /* Botones ocupan todo el ancho */
    }
}